@import "../../node_modules/bulma/sass/utilities/_all";

body, html  {
	font-family: 'News Cycle', sans-serif !important;
	font-weight: 300 !important;
	font-style: normal !important;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }