<template lang="pug">
section.hero.is-dark.is-medium
	.hero-head
		nav.navbar
			.navbar-brand
				a.navbar-item
						i.fas.fa-sun.fa-2x(style="color: white; margin-right: 16px;"
						)
						span(style="font-size: 23px")
						| Bulimia and Ischemia
				span.navbar-burger.burger(data-target='navbarMenuHeroA')
					span
					span
					span
			#navbarMenuHeroA.navbar-menu
				.navbar-end
					a.navbar-item.is-active.
						
						In Principio
						
					a.navbar-item.
						
						In Media Res
						
					a.navbar-item.
						
						De Iugonibus Reticulae
						
					span.navbar-item
						a.button.is-dark
							span.icon
								i.fas.fa-bullseye
							span Télechargement
	nuxt
</template>

<style>
@import url("https://fonts.googleapis.com/css?family=News+Cycle|Naterial+Icons");
@import "../assets/scss/main.css";

body, html  {
	font-family: 'News Cycle', sans-serif !important;
	font-weight: 300 !important;
	font-style: normal !important;
}

h1, h2, h3, h4, h5, h6  {
	font-family: 'News Cycle', sans-serif !important;
	font-weight: 300 !important;
	font-style: normal !important;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

</style>
