<template lang="pug">
.container
	.hero-body.is-fullheight
		.has-text-centered
			h1.title.
				
				Engenho Novo LLC
				
			h2.subtitle.
				
				Bugigangas e Engenhocas	
				
			button.button.is-medium.is-dark Inquire Within 

	.hero-foot
		nav.tabs
			.container
				ul
					li.is-active
						a Overview
					li
						a Modifiers
					li
						a Grid
					li
						a Elements
					li
						a Components
					li
						a Layout

</template>

<script>
</script>

<style>

@import "../assets/scss/main.css";
@import url("https://fonts.googleapis.com/css?family=News+Cycle|Naterial+Icons");

.container {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	text-align: center;
}
</style>
